h1{
    width: fit-content;
}
.parent{
    background-color: rgba(0, 0, 0, 0.393);
}
.child{
    width: 400px;
    height: 400px;
    /* background-image: url('/images/one.jpg'); */
    background-size: cover;
    background-position: center center;
}
.fa-xmark{
    top: 10px;
    right: 10px;
}
.fa-arrow-left{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.fa-arrow-right{
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.fa-arrow-left, .fa-arrow-right, .fa-xmark{
    cursor: pointer;
    color: red;
}
.row div{
    cursor: pointer;
}
